body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: #f4f4f4;
}
header img {
    display: block;
    margin: 0 auto;
    max-width: 200px; /* Ajusta el tama침o m치ximo de la imagen */
    height: auto; /* Mantiene la proporci칩n de la imagen */
    padding-bottom: 1em; /* A침ade un poco de espacio debajo de la imagen */
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
}

button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #333;
    color: white;
    border: none;
}
